<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="org.maven.ide.eclipse.buildhelper.BuildhelperProjectConfigurator"
            id="org.maven.ide.eclipse.buildhelper.buildhelperConfigurator"
            name="build-helper-maven-plugin">
      </configurator>
      <configurator
            class="org.maven.ide.eclipse.modello.internal.ModelloProjectConfigurator"
            id="org.maven.ide.eclipse.modello.modelloConfigurator"
            name="Modello Project Configurator"
            requiresExplicitEnablement="false">
      </configurator>
      <configurator
            class="org.maven.ide.eclipse.antlr.internal.AntlrProjectConfigurator"
            id="org.maven.ide.eclipse.antlr.antlrConfigurator"
            name="ANTLR Project Configurator">
      </configurator>
      <configurator
            class="org.maven.ide.eclipse.pomproperties.internal.PomPropertiesConfigurator"
            id="org.maven.ide.eclipse.mavenarchiver.pomProperties"
            name="MavenArchiver pom.properties Generator">
      </configurator>
   </extension>
</plugin>
