<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.maven.ide.eclipse.projectConfigurators">
      <configurator
            class="org.maven.ide.eclipse.buildhelper.BuildhelperProjectConfigurator"
            generic="false"
            id="org.maven.ide.eclipse.buildhelper.buildhelperConfigurator"
            name="build-helper-maven-plugin">
      </configurator>

      <configurator
            class="org.maven.ide.eclipse.project.configurator.MavenProjectConfigurator:org.apache.maven.plugins:maven-eclipse-plugin|eclipse:m2eclipse"
            generic="true"
            id="org.maven.ide.eclipse.configurator.mavenEclipsePlugin"
            name="maven-eclipse-plugin"
            priority="5"/>

      <configurator
            class="org.maven.ide.eclipse.project.configurator.MavenProjectConfigurator:org.codehaus.mojo:sysdeo-tomcat-maven-plugin|sysdeo-tomcat:m2eclipse"
            generic="true"
            id="org.maven.ide.eclipse.configurator.mavenSysdeoTomcatPlugin"
            name="sysdeo-tomcat-maven-plugin"
            priority="50"/>

      <configurator
            class="org.maven.ide.eclipse.modello.internal.ModelloProjectConfigurator"
            generic="false"
            id="org.maven.ide.eclipse.modello.modelloConfigurator"
            name="Modello Project Configurator">
      </configurator>
      <configurator
            class="org.maven.ide.eclipse.antlr.internal.AntlrProjectConfigurator"
            generic="false"
            id="org.maven.ide.eclipse.antlr.antlrConfigurator"
            name="ANTLR Project Configurator">
      </configurator>

   </extension>

</plugin>
