<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="org.maven.ide.eclipse.buildhelper.BuildhelperProjectConfigurator"
            id="org.maven.ide.eclipse.buildhelper.buildhelperConfigurator"
            name="build-helper-maven-plugin">
         <mojo
               artifactId="build-helper-maven-plugin"
               goals="add-source,add-test-source"
               groupId="org.codehaus.mojo"
               versionRange="[1.0,)">
         </mojo>
      </configurator>
      <configurator
            class="org.maven.ide.eclipse.modello.internal.ModelloProjectConfigurator"
            id="org.maven.ide.eclipse.modello.modelloConfigurator"
            name="Modello Project Configurator">
         <mojo
               artifactId="modello-maven-plugin"
               goals="java,xpp3-reader,xpp3-writer"
               groupId="org.codehaus.modello"
               versionRange="[1.0.1,)">
         </mojo>
         <mojo
               artifactId="modello-plugin-upgrade"
               goals="upgrade"
               groupId="org.sonatype.plugins"
               versionRange="[1.1,)">
         </mojo>
      </configurator>
      <configurator
            class="org.maven.ide.eclipse.antlr.internal.AntlrProjectConfigurator"
            id="org.maven.ide.eclipse.antlr.antlrConfigurator"
            name="ANTLR Project Configurator">
         <mojo
               artifactId="antlr-maven-plugin"
               goals="generate"
               groupId="org.codehaus.mojo"
               versionRange="[2.1,)">
         </mojo>
         <mojo
               artifactId="antlr3-maven-plugin"
               goals="antlr"
               groupId="org.antlr"
               versionRange="[3.1.1,)">
         </mojo>
      </configurator>
      <configurator
            class="org.maven.ide.eclipse.pomproperties.internal.PomPropertiesConfigurator"
            id="org.maven.ide.eclipse.mavenarchiver.pomProperties"
            name="MavenArchiver pom.properties Generator">
         <mojo
               artifactId="maven-jar-plugin"
               goals="jar"
               groupId="org.apache.maven.plugins"
               versionRange="[2.0,)">
         </mojo>
      </configurator>
   </extension>
</plugin>
