<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="org.maven.ide.eclipse.plexus.annotations.internal.PlexusProjectConfigurator"
            id="org.maven.ide.eclipse.plexus.annotations.plexusConfigurator"
            name="Plexus Metadata Generation">
         <mojo
               artifactId="plexus-component-metadata"
               goals="generate-metadata,generate-test-metadata"
               groupId="org.codehaus.plexus"
               versionRange="[1.0-beta-3.0.6,)">
         </mojo>
      </configurator>
   </extension>

</plugin>
